
	<!-- FOOTER -->
	<div class="navigation">
		<h3>Categories</h3>
		<ul class="navigation-ul">

		<% categories.forEach(function(c) { %>
			
			<li class="navigation-li"><a href="/products/<%= c.slug %>#portfolio"><%= c.title %></a></li>
		<%	}); %>
		</ul>
		</div>
	
	
	<footer>
	<div class="container">
		<div class="row py-4 text-center">
	
		</div>
	</div>
</footer>


		 

<script src="/bootstrap-5.0.2-dist/css/bootstrap.min.css"></script>
<script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script src="/1.js"></script>
</body>
</html>